
.footer__feedback

	padding: 1em 4em
	width: 55%
	background-color: #FD7760
	box-sizing: border-box
	@media(max-width: 1700px)
		width: 65%
	@media(max-width: 1440px)
		width: 75%
	@media(max-width: 1220px)
		width: 80%
	@media(max-width: 1040px)
		width: 100%

	h2
		color: white
		text-align: left
footer
	overflow: hidden
	
	.wrapper
		padding: 0
	.flex-container
		align-items: stretch
		@media (max-width: 560px)
			flex-wrap: wrap
	.footer__map

		width: 45%
		@media(max-width: 1700px)
			width: 35%
		@media(max-width: 1440px)
			width: 25%
		@media(max-width: 1220px)
			width: 20%
		@media(max-width: 1040px)
			display: none
		img 
			max-width: 158%
			height: 100%
	input, textarea
		padding: 0.7em 1.5em
		background-color: #fad3d3
		border: 2px solid #fff
		margin-bottom: .6em
		font-size: 1em
		color: #000
		outline: #fd7760
		box-sizing: border-box
	textarea
		max-width: 28em
		font-size: 1.1em
		margin-left: 30px
		min-height: 150px
		font-family: 'Istok Web', 'Helvetica', sans-serif
	iframe
		width: 100%
		height: 100%
		border: none
	
	h6
		color: #fff
		font-size: 1.1em
		text-transform: uppercase
	a
		color: #fff
		border: none
		line-height: 1.7em
		&:hover
			text-decoration: underline

	.form
		@media (max-width: 860px)
			max-width: 65%
		@media (max-width: 700px)
			max-width: 50%
		@media (max-width: 560px)
			max-width: 100%
			margin-top: 2em
		.flex-container
			justify-content: flex-start
			@media (max-width: 860px)
				flex-wrap: wrap
				&>div
					width: 100%
					input,textarea
						margin-left: 0
						width: 100%

		
		.footer__but
			display: flex
	
	.social_links
		margin-top: 2em
		.ico
			margin-right: 7px
			margin-bottom: 7px
			&:hover
				transform: scale(1.2)
	.phone
		margin-bottom: 2em
	.btn__footer
		padding: .8em 1.2em
		background-color: transparent
		border-radius: 2em
		font-size: 1em
		font-weight: bold
		color: #fff
		border: 2px solid #F8BAB1
		&:hover
			cursor: pointer
			background-color: white
			color: $activeColor
	form
		width: 100%

.white-popup-block
	background: #FFF
	padding: 20px 30px
	text-align: left
	max-width: 450px
	margin: 40px auto
	position: relative
	text-align: center
	h3
		margin-bottom: 0
	input, textarea
		padding: 0.7em 1.5em
		// background-color: #fad3d3
		border: 2px solid $activeColor
		margin-bottom: .6em
		font-size: 1em
		// @media (min-width: 560px)
		width: 100%
		outline: none
		box-sizing: border-box
	textarea
		// font-size: 1.1em
		min-height: 150px
		font-family: 'Istok Web', 'Helvetica', sans-serif
	[type="submit"]
		border: 2px solid $activeColor
		color: white
		background-color: $activeColor
		&:hover
			background-color: white
			color: $activeColor
