@import '../assets/slick'

@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=cyrillic')
@import '../assets/magnific-popup'


$activeColor: #fd7760


*
	margin: 0
	padding: 0
	transition: transform 0.4s, border 0.4s, color 0.4s, background-color 0.4s,  background 0.4s

html,body
	font-family: 'Istok Web', 'Helvetica', sans-serif
	padding: 0
	overflow-x: hidden

.body-overflow
	overflow: hidden

a
	color: $activeColor
	text-decoration: none
	border-bottom: 2px dotted
	border-radius: 3px
	outline: none
	&:hover
		color: lighten($activeColor, 10%)
		.ico
			transform: scale(1)
p
	margin-bottom: 15px
	font-size: 1.1em


img
	vertical-align: middle
	transition: 0.2s

ul
	padding-left: 20px
	border-left: 1px solid #c5c5c5
	font-size: 1.1em
	li
		list-style-type: none
		margin-top: 10px
		position: relative

		&:before
			position: absolute
			content: ''
			background-color: #c5c5c5
			width: 15px
			height: 15px
			left: -28px
			top: 3px
			display: block
			border-radius: 25px
		&:hover
			&:before
				border: 1px solid #c5c5c5
				background-color: $activeColor
			ul
				li
					&:before
						background-color: #c5c5c5
					&:after
						background-color: $activeColor
		ul
			border: none
			li
				&:before
					width: 30px
					height: 1px
					left: -41px
					top: 10px
					background-color: #c5c5c5
				
				&:after
					position: absolute
					content: ''
					background-color: #c5c5c5
					width: 5px
					height: 5px
					left: -15px
					top: 8px
					display: block
					border-radius: 25px
				&:hover
					&:before
						background-color: #c5c5c5!important
						border: none



// grids
.wrapper
	max-width: 90%
	margin: 0 auto
	padding: 15px 0
	width: 100%

.flex-container
	display: flex
	justify-content: space-between
	align-items: center
	
	&.flex-columns
		flex-wrap: wrap
		align-items: initial
	&__nowrap
		flex-wrap: nowrap

	.container-1-3
		width: 33.33%
		align-items: start
		@media(max-width: 1040px)
			width: 50%
		@media(max-width: 700px)
			width: 100%
	.container-2-3
		width: 66.66%
		align-items: start
		@media(max-width: 1040px)
			flex-wrap: wrap
			width: 50%
		@media(max-width: 700px)
			width: 100%
	.container-1-2
		width: 50%
		align-items: start
		@media(max-width: 1040px)
			width: 100%
	&.flex_6_columns
		align-items: flex-start
		flex-wrap: wrap
		@media(max-width: 400px)
			justify-content: center
		&>div
			width: 16.66666%
			padding-right: 15px
			box-sizing: border-box
			&:last-child
				padding-right: 0
			@media(max-width: 1200px)
				width: 26%
				&:nth-child(3n)
					padding-right: 0
			@media(max-width: 980px)
				width: 30%
				&:nth-child(3n)
					padding-right: 0
			@media(max-width: 700px)
				width: 50%
				&:nth-child(3n)
					padding-right: 15px
				&:nth-child(2n)
					padding-right: 0
			@media(max-width: 400px)
				width: 80%
				padding-right: 0
				&:nth-child(3n)
					padding-right: 0
				&:nth-child(2n)
					padding-right: 0

// titles

h1
	font-size: 5em
	text-transform: uppercase
	line-height: 1.2em
	margin: 0 0 0.4em -0.1em
	@media(max-width: 1600px)
		font-size: 4em
	@media(max-width: 1300px)
		font-size: 4em
	@media(max-width: 1030px)
		font-size: 2.5em
	@media(max-width: 700px)
		font-size: 2.2em
		line-height: 1.3em
		font-weight: 900

h2
	font-size: 3em
	text-transform: uppercase
	text-align: center
	color: $activeColor
	margin: 0.5em 0
	span
		border-bottom: 0.1em dotted

	@media(max-width: 1030px)
		font-size: 2.3em
	@media(max-width: 700px)
		font-size: 1.8em
h3
	font-size: 2em
	text-transform: uppercase
	text-align: center
	color: $activeColor
	margin: 0.5em 0
	span
		border-bottom: 0.1em dotted

	@media(max-width: 1030px)
		font-size: 1.8em
	@media(max-width: 700px)
		font-size: 1.6em

h4
	font-size: 1.9em
	text-transform: uppercase
	font-weight: normal
	margin-top: 0.3em
	@media(max-width: 700px)
		font-size: 1.5em
		margin-bottom: 0.3em

h5
	font-weight: normal
	font-size: 1.1em
	line-height: 2em
	margin-bottom: 2em
	@media(max-width: 700px)
		line-height: 1.5em
		margin-bottom: 1.5em

// elements

.button
	border: 2px solid $activeColor
	border-radius: 2em
	padding: 0.6em 3em
	font-weight: 600
	cursor: pointer
	display: inline-block
	margin-top: 10px
	text-align: center
	
	&.inner,
	&:hover
		background-color: $activeColor
		color: white
	&.inner
		&:hover
			border: 2px solid $activeColor
			background-color: transparent
			color: $activeColor
	@media(max-width: 700px)
		padding: 0.6em 1.5em
	&-menu
		margin-right: 5px
		display: none
		padding: 0.6em
		@media(max-width: 1040px)
			display: inline-block
		@media(max-width: 400px)
			margin-right: -10px
	&_notxt
		@media(max-width: 700px)
			font-size: 0
			display: inline-block
			padding: 10px!important
			border-radius: 25px
		@media(max-width: 400px)
			transform: scale(0.7)
	&-close
		font-weight: initial
		padding: 0.2em 0.45em
		line-height: 1em
		position: absolute
		top: 1em
		right: 1em
		display: none
		@media(max-width: 1040px)
			display: block

	.ico
		transition: background-image 0s


@import 'includes/icons'
@import 'includes/header'
@import 'includes/footer'



.head_block
	min-height: 100vh
	background-image: url(../images/juice.png), url(../images/background-header.png)
	background-repeat: no-repeat
	background-position: 95%, 0 -200px
	background-size: 1000px, 100% 
	@media(max-width: 1300px)
		background-size: 800px, 100%
		background-position: 90%, 0 -100px
	@media(max-width: 1040px)
		background-size: 700px, 100%
		background-position: 400px, 0 -100px
	@media(max-width: 750px)
		background-size: 600px, 100%
		background-position: 300px, 0 0px
	@media(max-width: 700px)
		background-size: 600px, 100%
		background-position: 250px, 0 0px
	@media(max-width: 600px)
		background-size: 600px, 800px
		background-position: 150px, 0 0px

	.header_content
		max-width: 50%
		// margin-top: -15px
		@media(max-width: 900px)
			max-width: 70%
		@media(max-width: 600px)
			max-width: 100%




#services
	.services_nav
		text-align: center
		&__link
			text-transform: uppercase
			font-size: 2em
			font-weight: 600
			margin: 0.2em 0.6em
			display: inline-block
			border-bottom: none
			color: black
			border-bottom: 2px dotted transparent
			&.active,
			&:hover
				color: $activeColor
				border-bottom: 2px dotted $activeColor
			&.active
				position: relative
				&:after
					position: absolute
					display: block
					width: 50px
					height: 50px
					background-color: #e8e8e8
					content: ''
					z-index: -1
					transform: rotate(45deg) translateX(-50%)
					bottom: -103px
					left: 50%
					@media(max-width: 640px)
						content: none

			@media(max-width: 1280px)
				font-size: 1.45em
			@media(max-width: 930px)
				font-size: 1.2em
			@media(max-width: 780px)
				font-size: 1em



	.services_blocks
		// max-width: 1200px
		margin: 50px auto 0

		.services_block
			align-items: flex-start
			display: none
			background-color: #e8e8e8
			flex-wrap: wrap
			border: 2px solid #e8e8e8

			&__item_image
				overflow: hidden
				img
					height: 425px
					@media(max-width: 700px)
						height: 250px
			&__item_about,
			&__item_services
				padding: 30px

			&__item_services
				@media(max-width: 700px)
					margin-top: -30px

			&.active
				display: flex

			&__hidden
				@media(max-width: 1040px) and (min-width: 700px)
					display: none


#portfolio
	.portfolio_blocks
		
		background-color: lighten($activeColor, 10%)
		@media (max-width:1600px)
			flex-wrap: wrap
		a.portfolio_block
			border: 5px solid lighten($activeColor, 10%)
			height: 450px
			overflow-y: hidden
			box-sizing: border-box
			position: relative
			@media (max-width:1600px)
				height: initial
				max-height: 400px
				&:nth-child(2n-1)
					width: 22%
				&:nth-child(2n)
					width: 28%
				&:nth-child(6)
					width: 56%
			@media (max-width:900px)
				height: initial
				max-height: 400px
				&:nth-child(2n-1)
					width: 50%
				&:nth-child(2n)
					width: 50%
				&:nth-child(6)
					width: 50%
				&:last-child
					display: none
			@media (max-width:500px)
				max-height: 300px
			img
				width: 100%

		.over_block
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-color: rgba(244, 67, 54, 0.8)
			background-image: url(../images/magnifying-glass.png)
			background-position: center
			background-repeat: no-repeat
.mfp-counter
	display: none

#command
	.command_slider__wrapper
		position: relative
		.command_slider
			position: relative
			&:after
				width: 100%
				height: 2px
				content: ''
				background-color: $activeColor
				position: absolute
				top: 180px
				z-index: -1
				left: 0
				@media (max-width: 1700px) and (min-width: 1450px)
					top: 130px
				@media (max-width: 1450px) and (min-width: 1200px)
					top: 110px
				@media (max-width: 1200px) and (min-width: 990px)
					top: 140px
				@media (max-width: 990px)
					top: 110px
			
			h4
				@media (max-width: 1700px) and (min-width: 700px)
					position: relative
					margin-left: -50%
					margin-right: -50%


			.human
				text-align: center
				padding-bottom: 20px
				outline: none
				cursor: move
				.command_wrap__img
					width: 300px
					height: 300px
					border-radius: 50%
					border: 3px solid $activeColor
					display: initial
					@media (max-width: 1700px) and (min-width: 1450px)
						width: 250px
						height: 250px
					@media (max-width: 1450px) and (min-width: 1200px)
						width: 200px
						height: 200px
					@media (max-width: 1200px) and (min-width: 990px)
						width: 250px
						height: 250px
					@media (max-width: 990px) 
						width: 200px
						height: 200px

				.profession
					background-color: $activeColor
					padding: 5px 15px
					border-radius: 25px
					font-weight: 600
					color: white
				@media (min-width: 700px) 
					.hidden-info
						display: none
			@media (min-width: 1200px)
				.slick-active
					&.slick-current
						transform: scale(0.6) translateX(80px)
						&+.slick-active
							transform: scale(0.8)
							&+.slick-active
								.hidden-info
									display: block
								&+.slick-active
									transform: scale(0.8)
									&+.slick-active
										transform: scale(0.6) translateX(-80px)
			@media (max-width: 1200px) and (min-width: 900px)
				.slick-active
					&.slick-current
						transform: scale(0.75) translateX(80px)
						&+.slick-active
							.hidden-info
								display: block
							&+.slick-active
								transform: scale(0.75) translateX(-80px)
			@media (max-width: 1200px) and (min-width: 700px)
				.slick-active
					&.slick-current
						transform: scale(0.75) translateX(30px)
						&+.slick-active
							.hidden-info
								display: block
							&+.slick-active
								transform: scale(0.75) translateX(-30px)
			@media (max-width: 700px) and (min-width: 600px)
				.slick-active
					&.slick-current
						transform: translateX(20px)
						&+.slick-active
							transform: translateX(-20px)
			@media (max-width: 600px) and (min-width: 532px)
				.slick-active
					&.slick-current
						transform: translateX(10px)
						.command_wrap__img
							transform: scale(0.8)
						&+.slick-active
							transform: translateX(-10px)
							.command_wrap__img
								transform: scale(0.8)


.button_after__prew
	background-color: $activeColor
	content: ''
	display: block
	width: 40px
	height: 2px

.button_slider
	width: 50px
	height: 50px
	cursor: pointer
	position: absolute
	top: 155px
	z-index: 1
	@media (max-width: 1700px) and (min-width: 1450px)
		top: 105px
	@media (max-width: 1450px) and (min-width: 1200px)
		top: 85px
	@media (max-width: 1200px) and (min-width: 990px)
		top: 115px
	@media (max-width: 990px) 
		top: 85px

	&.slick-disabled
		display: none!important

	&.button_prew
		left: 0
		&:before
			@extend .button_after__prew
			transform: rotate(-45deg) translateY(2px) translateX(-12px)
		&:after
			@extend .button_after__prew
			transform: rotate(45deg) translateY(30px) translateX(20px)
		&:hover
			transform: scale(1.3) translateX(5px)


	&.button_next
		right: 0
		transform: rotate(180deg)
		&:before
			@extend .button_after__prew
			transform: rotate(-45deg) translateY(2px) translateX(-12px)
		&:after
			@extend .button_after__prew
			transform: rotate(45deg) translateY(30px) translateX(20px)
		&:hover
			transform: scale(1.3) translateX(-5px) rotate(180deg)
.ico_align
		height: 100px
		margin-bottom: 1em
#advantages
	background-color: #f8f8f8
	border: 5px dotted #e3e0e0
	text-align: center
	margin: 0 -5px
	
	h5
		line-height: 1.4em

#how_we_are_working
	text-align: center
	h5
		line-height: 1.4em

.mfp-img
	cursor: url(../images/cursor.png) 0 0, auto
// .prompt
// 	// display: none
// 	position: absolute
// 	color: white
// 	width: 200px
// 	line-height: 1.2
// 	padding: 10px
// 	border-radius: 3px
// 	background-color: $activeColor
// 	box-shadow: 0 10px 33px 0 rgba(0, 0, 0, 0.3)
// 	text-align: center
// 	&:before
// 		position: absolute
// 		top: -7px
// 		left: 20px
// 		width: 15px
// 		height: 15px
// 		content: ''
// 		background: $activeColor
// 		transform: rotate(45deg)


// .mfp-figure figure:hover + .prompt
// 	display: block
// 	

.crm-webform-header
	font-family: 'Istok Web', 'Helvetica', sans-serif






// ///////////////////////////////////////////////////////////////////
// ADAPTIVE
// ///////////////////////////////////////////////////////////////////


.head_block.adaptive_head_block
	background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/comunica.jpg)
	background-size: cover
	color: white
	background-position: center
	position: relative
	background-color: #18214c
	@media(max-width: 1541px) and (min-width: 700px)
		&:before
			position: absolute
			content: ''
			top: 0
			bottom: 0
			width: 100%
			background: linear-gradient(to right, #101332 46%, rgba(16, 19, 50, 0) 100%)
			z-index: 0
	@media(max-width: 1500px)
		background-size: 100%
		background-position: right bottom
		// padding-bottom: 13rem
	@media(max-width: 700px)
		background-size: 170%
		background-position: right bottom
		padding-bottom: 15rem
	@media(max-width: 500px)
		padding-bottom: 12rem
	.wrapper
		position: relative
	.header_content

		@media(min-width: 990px)
			max-width: 600px
	.header_nav__link
		color: white
		&:hover
			color: #fd7760
	.lang_wrapper a.active
		color: white

	h1
		font-size: 3.3em
		text-transform: initial
		line-height: 1.2em
		margin: 0 0 0.4em -0.1em
		@media(max-width: 1600px)
			font-size: 3em
		@media(max-width: 1300px)
			font-size: 3em
		@media(max-width: 1030px)
			font-size: 2.5em
		@media(max-width: 700px)
			font-size: 2.2em
			line-height: 1.3em
			font-weight: 900
	h5
		line-height: 1.3
		&.akcent
			margin: 0 0 1em
	.adaptive_page__form
		input
			color: white
.adaptive_page__form
	margin-bottom: 1em



	input:not([type='submit']),
	textarea:not([type='submit'])
		background-color: transparent
		border: none
		border-bottom: 2px solid black
		padding: 5px 0
		outline: none
		min-width: 70%
		font-size: 1rem
		font-weight: 400
		resize: none
		@media(max-width: 700px)
			min-width: 350px

		@media(max-width: 470px)
			min-width: 260px
	[type='submit']
		&.submit
			min-width: 20px
			border-bottom: none
			font-size: 0
			height: 18px
			outline: none
			background-color: transparent
			border: none
			background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/fast-forward.svg)
			background-size: contain
			background-repeat: no-repeat
			position: relative
			left: -25px
			cursor: pointer
			padding: 25px 10px 10px
			background-position: center
	::placeholder
		font-size: 17px
		color: #484848
		font-family: 'Istok Web', 'Helvetica', sans-serif

	&.big__form
		max-width: 500px
		margin: 0 auto
		background-color: white
		padding: 2rem 4rem
		border: 2px solid #f1f1f1
		border-radius: 5px
		@media(max-width: 700px)
			padding: 1rem 2rem
		h3
			margin-bottom: 0
		.small
			line-height: 1rem
			font-size: 0.8rem
		.inp_wrap
			margin-bottom: 0.5rem
			input:not([type='submit']),
			textarea:not([type='submit'])
				border: 2px solid $activeColor
				padding: 0.7rem 1rem
				min-width: 100%
				box-sizing: border-box
		[type='submit']
			width: 100%
			font-size: 1rem
			outline: none
			::placeholder
	&.dark
		input,
		textarea
			border-bottom: 2px solid white
		input:not([type='submit'])
			padding-right: 30px
			box-sizing: border-box
		::placeholder
			color: #f7f7f7
p.afterPAgespeed
	color: grey

h5.afterPAgespeed
	font-size: 2rem
	margin-bottom: 0.5rem
	width: 120%
	@media(max-width: 640px)
		width: 100%
		font-size: 1.5rem

.akcent
	color: $activeColor
	font-weight: 600

.grey_block
	background-color: #f8f8f8

.adaptive_block
	.wrapper
		padding: 50px 0
	h2
		text-align: left
		color: black
		text-transform: initial
		margin-bottom: 3em
		font-size: 2.5em
		span
			border: none
		@media(max-width: 1030px)
			font-size: 1.8em
		@media(max-width: 700px)
			font-size: 1.6em
	.flex_2_columns
		& > div
			// @media(min-width: 1030px)
			flex-basis: 1000px
			&.has_image
				text-align: center
		@media(max-width: 790px)
			flex-wrap: wrap

	&.graph__block
		background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/graph.png)
		background-repeat: no-repeat
		background-size: 100%
		background-position: center 45%
		@media(max-width: 1030px)
			background-position: left 32%
			background-size: 200%
		@media(max-width: 790px)
			background-position: left 15%
			background-size: 150% 
			.has_button
				text-align: center
				margin-bottom: 2rem

.profit__block
	h2
		text-align: center
		text-transform: uppercase
		margin-bottom: 0.5em
		.small
			display: block
			font-size: 0.5em
			text-transform: initial
	.wrapper__block
		padding: 25px 0
	.wrapper:first-child
		margin-bottom: -50px
	.has_img
		text-align: right
		img
			// max-width: 400px
			width: 700px
			@media(max-width: 790px)
				width: 100%
				border-top: 5px solid $activeColor
	.profit__block_item
		background-color: white
		border-left: 5px solid $activeColor
		padding: 2rem

		@media(max-width: 790px)
			padding: 1rem
			border: none
			// margin-top: 1rem
		@media(min-width: 790px)
			margin-left: -25rem
		@media(min-width: 1000px)
			margin-left: -15rem
		@media(min-width: 1300px)
			margin-left: -5rem
			padding: 2rem 2rem

		.flex-container
			align-items: flex-start
		.__ico
			@media(max-width: 1200px)
				flex-direction: column
		.ico
			min-width: 95px
			height: 78px
			display: block
			background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/it1.png')
			background-repeat: no-repeat
			background-position: center
			&.ico-2
				background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/it2.png')
			&.ico-3
				background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/it3.png')
		
		h3
			text-transform: initial
			color: black
			text-align: left
			font-size: 1.5rem
			@media(max-width: 1030px)
				font-size: 1.2rem


.image__back
	background-color: #e9eef1
	background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/back_adaptive.jpg)
	background-position: right center
	background-size: contain
	background-repeat: no-repeat
	position: relative
	@media(max-width: 1428px)
		background-position: 120% center
	@media(max-width: 1328px)
		background-position: 140% center
	@media(max-width: 1264px)
		background-position: 160% center
	// @media(max-width: 12648px)
	// 	background-position: 160% center
	@media(max-width: 1216px)
		&:before
			position: absolute
			content: ''
			top: 0
			bottom: 0
			width: 100%
			background: linear-gradient(to right, rgba(233, 238, 241, 0.9) 71%, rgba(16, 19, 50, 0) 100%)
			z-index: 0
	@media(max-width: 704px)
		background-size: cover
		background-position: right center
	.flex_2_columns
		position: relative
		& > div
			max-width: 700px
	h2
		margin-bottom: 1em
	h5
		line-height: 1.5


.adaptive__items_block
	text-align: center
	h2
		text-align: center
		margin-bottom: 1em
	.ico
		min-width: 150px
		height: 100px
		display: block
		background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic1.png')
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		@media(max-width: 600px)
			min-width: 150px
			height: 70px
		&.ico-2
			background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic2.png')
		&.ico-3
			background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic3.png')
		&.ico-4
			background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic4.png')
		&.ico-5
			background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic5.png')
		&.ico-6
			background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic6.png')
.adaptive_block.sale
	text-align: center
	background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/graph-2.png)
	background-position: left 2%
	@media(max-width: 1732px)
		background-position: left 8%
	@media(max-width: 1035px)
		background-size: 100%
	@media(max-width: 700px)
		background-size: 150%
		background-position: left 5%
	@media(max-width: 609px)
		background-size: 180%
		background-position: left 5%
	@media(max-width: 562px)
		background-size: 180%
		background-position: left 8%

	h2
		text-align: center
	
	h4
		text-transform: initial
		font-weight: 600
		font-size: 1.5rem
		a.big
			font-size: 3rem
			border: none
			cursor: pointer
			// display: inline-block
			font-weight: 400
			background-image: url('https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/smart.png')
			background-repeat: no-repeat
			background-position: left center
			padding-left: 3.5rem
			// background-size: contain
			@media(max-width: 600px)
				font-size: 1.8rem
				background-size: contain
				padding-left: 2.5rem

