footer
	.wrapper
		.flex-container
			.footer__map
				//- img(src='images/map.png')
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1942.8823340953898!2d30.733056883325663!3d46.475429444620325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6318529da999d%3A0x8bedddffc51b60c0!2z0LLRg9C70LjRhtGPINCj0YHQv9C10L3RgdGM0LrQsCwgMTAxLCDQntC00LXRgdCwLCDQntC00LXRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sru!4v1504595818191') 
			.footer__feedback
				h3 Свяжитесь с нами
				.flex-container
					.contact
						h6 Телефон/Факс:
						.phone
							a(href="tel:+380487770166") +38 (048) 777-01-66 
							br
							a(href="tel:+380487770167") +38 (048) 777-01-67
						h6.e-mail E-mail
						.mail
							a(href="mailto:antra@antra.ua") antra@antra.ua
						.social_links
							a(href="")
								i.ico.facebook
							a(href="")
								i.ico.instagram
							a(href="")
								i.ico.linkedin
							a(href="")
								i.ico.twitter
							a(href="")
								i.ico.google
					.form
						
						form()
							.flex-container
								.left
									div.form-group
										input#name.form-control(type='text', placeholder='Ваше имя:' name='name')
									div.form-group
										input#name.form-control(type='text', placeholder='Ваш телефон:' name='name')
									div.form-group
										input#email.form-control(type='email', placeholder='Ваш Email:' name='email')
								.right
									div.form-group.quastions
										textarea(rows=3, placeholder='Ваш вопрос:' )
							.footer__but
								button.btn__footer(type='submit') Отправить заявку