meta(charset="utf-8")
title 
	block title

meta(name="viewport", content="width=device-width, initial-scale=1.1")
meta(name="description", content="Освежающие решения для вашего бизнеса")
link(rel="stylesheet", href="css/style.css?ver=0.003")
link(rel="icon", href="favicon.ico")