/* Slider */
@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=cyrillic");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

* {
  margin: 0;
  padding: 0;
  transition: transform 0.4s, border 0.4s, color 0.4s, background-color 0.4s,  background 0.4s; }

html, body {
  font-family: 'Istok Web', 'Helvetica', sans-serif;
  padding: 0;
  overflow-x: hidden; }

.body-overflow {
  overflow: hidden; }

a {
  color: #fd7760;
  text-decoration: none;
  border-bottom: 2px dotted;
  border-radius: 3px;
  outline: none; }
  a:hover {
    color: #fea292; }
    a:hover .ico {
      transform: scale(1); }

p {
  margin-bottom: 15px;
  font-size: 1.1em; }

img {
  vertical-align: middle;
  transition: 0.2s; }

ul {
  padding-left: 20px;
  border-left: 1px solid #c5c5c5;
  font-size: 1.1em; }
  ul li {
    list-style-type: none;
    margin-top: 10px;
    position: relative; }
    ul li:before {
      position: absolute;
      content: '';
      background-color: #c5c5c5;
      width: 15px;
      height: 15px;
      left: -28px;
      top: 3px;
      display: block;
      border-radius: 25px; }
    ul li:hover:before {
      border: 1px solid #c5c5c5;
      background-color: #fd7760; }
    ul li:hover ul li:before {
      background-color: #c5c5c5; }
    ul li:hover ul li:after {
      background-color: #fd7760; }
    ul li ul {
      border: none; }
      ul li ul li:before {
        width: 30px;
        height: 1px;
        left: -41px;
        top: 10px;
        background-color: #c5c5c5; }
      ul li ul li:after {
        position: absolute;
        content: '';
        background-color: #c5c5c5;
        width: 5px;
        height: 5px;
        left: -15px;
        top: 8px;
        display: block;
        border-radius: 25px; }
      ul li ul li:hover:before {
        background-color: #c5c5c5 !important;
        border: none; }

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 15px 0;
  width: 100%; }

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .flex-container.flex-columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: initial;
        align-items: initial; }
  .flex-container__nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .flex-container .container-1-3 {
    width: 33.33%;
    -ms-flex-align: start;
        align-items: start; }
    @media (max-width: 1040px) {
      .flex-container .container-1-3 {
        width: 50%; } }
    @media (max-width: 700px) {
      .flex-container .container-1-3 {
        width: 100%; } }
  .flex-container .container-2-3 {
    width: 66.66%;
    -ms-flex-align: start;
        align-items: start; }
    @media (max-width: 1040px) {
      .flex-container .container-2-3 {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 50%; } }
    @media (max-width: 700px) {
      .flex-container .container-2-3 {
        width: 100%; } }
  .flex-container .container-1-2 {
    width: 50%;
    -ms-flex-align: start;
        align-items: start; }
    @media (max-width: 1040px) {
      .flex-container .container-1-2 {
        width: 100%; } }
  .flex-container.flex_6_columns {
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 400px) {
      .flex-container.flex_6_columns {
        -ms-flex-pack: center;
            justify-content: center; } }
    .flex-container.flex_6_columns > div {
      width: 16.66666%;
      padding-right: 15px;
      box-sizing: border-box; }
      .flex-container.flex_6_columns > div:last-child {
        padding-right: 0; }
      @media (max-width: 1200px) {
        .flex-container.flex_6_columns > div {
          width: 26%; }
          .flex-container.flex_6_columns > div:nth-child(3n) {
            padding-right: 0; } }
      @media (max-width: 980px) {
        .flex-container.flex_6_columns > div {
          width: 30%; }
          .flex-container.flex_6_columns > div:nth-child(3n) {
            padding-right: 0; } }
      @media (max-width: 700px) {
        .flex-container.flex_6_columns > div {
          width: 50%; }
          .flex-container.flex_6_columns > div:nth-child(3n) {
            padding-right: 15px; }
          .flex-container.flex_6_columns > div:nth-child(2n) {
            padding-right: 0; } }
      @media (max-width: 400px) {
        .flex-container.flex_6_columns > div {
          width: 80%;
          padding-right: 0; }
          .flex-container.flex_6_columns > div:nth-child(3n) {
            padding-right: 0; }
          .flex-container.flex_6_columns > div:nth-child(2n) {
            padding-right: 0; } }

h1 {
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0 0 0.4em -0.1em; }
  @media (max-width: 1600px) {
    h1 {
      font-size: 4em; } }
  @media (max-width: 1300px) {
    h1 {
      font-size: 4em; } }
  @media (max-width: 1030px) {
    h1 {
      font-size: 2.5em; } }
  @media (max-width: 700px) {
    h1 {
      font-size: 2.2em;
      line-height: 1.3em;
      font-weight: 900; } }

h2 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #fd7760;
  margin: 0.5em 0; }
  h2 span {
    border-bottom: 0.1em dotted; }
  @media (max-width: 1030px) {
    h2 {
      font-size: 2.3em; } }
  @media (max-width: 700px) {
    h2 {
      font-size: 1.8em; } }

h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #fd7760;
  margin: 0.5em 0; }
  h3 span {
    border-bottom: 0.1em dotted; }
  @media (max-width: 1030px) {
    h3 {
      font-size: 1.8em; } }
  @media (max-width: 700px) {
    h3 {
      font-size: 1.6em; } }

h4 {
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0.3em; }
  @media (max-width: 700px) {
    h4 {
      font-size: 1.5em;
      margin-bottom: 0.3em; } }

h5 {
  font-weight: normal;
  font-size: 1.1em;
  line-height: 2em;
  margin-bottom: 2em; }
  @media (max-width: 700px) {
    h5 {
      line-height: 1.5em;
      margin-bottom: 1.5em; } }

.button {
  border: 2px solid #fd7760;
  border-radius: 2em;
  padding: 0.6em 3em;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  text-align: center; }
  .button.inner, .button:hover {
    background-color: #fd7760;
    color: white; }
  .button.inner:hover {
    border: 2px solid #fd7760;
    background-color: transparent;
    color: #fd7760; }
  @media (max-width: 700px) {
    .button {
      padding: 0.6em 1.5em; } }
  .button-menu {
    margin-right: 5px;
    display: none;
    padding: 0.6em; }
    @media (max-width: 1040px) {
      .button-menu {
        display: inline-block; } }
    @media (max-width: 400px) {
      .button-menu {
        margin-right: -10px; } }
  @media (max-width: 700px) {
    .button_notxt {
      font-size: 0;
      display: inline-block;
      padding: 10px !important;
      border-radius: 25px; } }
  @media (max-width: 400px) {
    .button_notxt {
      transform: scale(0.7); } }
  .button-close {
    font-weight: initial;
    padding: 0.2em 0.45em;
    line-height: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    display: none; }
    @media (max-width: 1040px) {
      .button-close {
        display: block; } }
  .button .ico {
    transition: background-image 0s; }

.ico {
  display: inline-block;
  background: url("../images/ico.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: middle; }
  .ico.domain-registration {
    background-position: -0px -0px;
    width: 100px;
    height: 90px; }
  .ico.idea {
    background-position: -0px -90px;
    width: 100px;
    height: 100px; }
  .ico.telephone {
    background-position: -0px -190px;
    width: 100px;
    height: 100px; }
  .ico.domain-registration2 {
    background-position: -0px -290px;
    width: 98px;
    height: 81px; }
  .ico.stick-man {
    background-position: -0px -371px;
    width: 98px;
    height: 87px; }
  .ico.statement {
    background-position: -0px -458px;
    width: 97px;
    height: 87px; }
  .ico.bar-chart {
    background-position: -0px -545px;
    width: 96px;
    height: 100px; }
  .ico.stopwatch {
    background-position: -0px -645px;
    width: 96px;
    height: 100px; }
  .ico.rocket-launch {
    background-position: -0px -745px;
    width: 93px;
    height: 93px; }
  .ico.magnifying-glass {
    background-position: -0px -838px;
    width: 90px;
    height: 90px; }
  .ico.cube {
    background-position: -0px -928px;
    width: 84px;
    height: 100px; }
  .ico.document {
    background-position: -0px -1028px;
    width: 82px;
    height: 84px; }
  .ico.facebook {
    background-position: -0px -1112px;
    width: 30px;
    height: 30px; }
  .ico.google {
    background-position: -30px -1112px;
    width: 30px;
    height: 30px; }
  .ico.instagram {
    background-position: -60px -1112px;
    width: 30px;
    height: 30px; }
  .ico.linkedin {
    background-position: -0px -1142px;
    width: 30px;
    height: 30px; }
  .ico.twitter {
    background-position: -30px -1142px;
    width: 30px;
    height: 30px; }
  .ico.phone-call {
    background-position: -60px -1142px;
    width: 25px;
    height: 25px; }
  .ico.arrow {
    background-position: -60px -1167px;
    width: 21px;
    height: 13px;
    transform: scale(0.7); }
  .ico.phone-call-hover {
    background-position: -0px -1180px;
    width: 25px;
    height: 25px; }
  .ico.menu {
    background-position: -0px -1205px;
    width: 24px;
    height: 24px; }

.button-menu:hover .menu {
  background-position: -24px -1205px;
  width: 24px;
  height: 24px; }

.button-phone:hover .phone-call {
  background-position: -0px -1180px;
  width: 25px;
  height: 25px; }

@media (max-width: 1030px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 400px) {
  .header_logo__image {
    width: 100px; } }

@media (max-width: 1040px) {
  .header_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.91);
    text-align: center;
    top: 0;
    left: 0;
    display: none;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-weight: 600;
    font-size: 1.3em;
    z-index: 2; } }

.header_nav__link {
  margin-right: 20px;
  color: black;
  border-bottom: 2px dotted transparent;
  font-size: 1.1em; }
  .header_nav__link:last-child {
    margin-right: 0; }
  .header_nav__link:hover {
    color: #fd7760;
    border-bottom: 2px dotted; }
  @media (max-width: 1040px) {
    .header_nav__link {
      color: white;
      text-transform: uppercase; } }

@media (max-width: 1400px) {
  .header_nav .header_nav__link_hidden {
    display: none; } }

@media (max-width: 1040px) {
  .header_nav .header_nav__link_hidden {
    display: inline; } }

@media (min-width: 1040px) {
  .lang_wrapper a {
    font-size: 1.3em; } }

.lang_wrapper a.active {
  color: black;
  border: none; }

.footer__feedback {
  padding: 1em 4em;
  width: 55%;
  background-color: #FD7760;
  box-sizing: border-box; }
  @media (max-width: 1700px) {
    .footer__feedback {
      width: 65%; } }
  @media (max-width: 1440px) {
    .footer__feedback {
      width: 75%; } }
  @media (max-width: 1220px) {
    .footer__feedback {
      width: 80%; } }
  @media (max-width: 1040px) {
    .footer__feedback {
      width: 100%; } }
  .footer__feedback h2 {
    color: white;
    text-align: left; }

footer {
  overflow: hidden; }
  footer .wrapper {
    padding: 0; }
  footer .flex-container {
    -ms-flex-align: stretch;
        align-items: stretch; }
    @media (max-width: 560px) {
      footer .flex-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  footer .footer__map {
    width: 45%; }
    @media (max-width: 1700px) {
      footer .footer__map {
        width: 35%; } }
    @media (max-width: 1440px) {
      footer .footer__map {
        width: 25%; } }
    @media (max-width: 1220px) {
      footer .footer__map {
        width: 20%; } }
    @media (max-width: 1040px) {
      footer .footer__map {
        display: none; } }
    footer .footer__map img {
      max-width: 158%;
      height: 100%; }
  footer input, footer textarea {
    padding: 0.7em 1.5em;
    background-color: #fad3d3;
    border: 2px solid #fff;
    margin-bottom: .6em;
    font-size: 1em;
    color: #000;
    outline: #fd7760;
    box-sizing: border-box; }
  footer textarea {
    max-width: 28em;
    font-size: 1.1em;
    margin-left: 30px;
    min-height: 150px;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  footer iframe {
    width: 100%;
    height: 100%;
    border: none; }
  footer h6 {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase; }
  footer a {
    color: #fff;
    border: none;
    line-height: 1.7em; }
    footer a:hover {
      text-decoration: underline; }
  @media (max-width: 860px) {
    footer .form {
      max-width: 65%; } }
  @media (max-width: 700px) {
    footer .form {
      max-width: 50%; } }
  @media (max-width: 560px) {
    footer .form {
      max-width: 100%;
      margin-top: 2em; } }
  footer .form .flex-container {
    -ms-flex-pack: start;
        justify-content: flex-start; }
    @media (max-width: 860px) {
      footer .form .flex-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        footer .form .flex-container > div {
          width: 100%; }
          footer .form .flex-container > div input, footer .form .flex-container > div textarea {
            margin-left: 0;
            width: 100%; } }
  footer .form .footer__but {
    display: -ms-flexbox;
    display: flex; }
  footer .social_links {
    margin-top: 2em; }
    footer .social_links .ico {
      margin-right: 7px;
      margin-bottom: 7px; }
      footer .social_links .ico:hover {
        transform: scale(1.2); }
  footer .phone {
    margin-bottom: 2em; }
  footer .btn__footer {
    padding: .8em 1.2em;
    background-color: transparent;
    border-radius: 2em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    border: 2px solid #F8BAB1; }
    footer .btn__footer:hover {
      cursor: pointer;
      background-color: white;
      color: #fd7760; }
  footer form {
    width: 100%; }

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 450px;
  margin: 40px auto;
  position: relative;
  text-align: center; }
  .white-popup-block h3 {
    margin-bottom: 0; }
  .white-popup-block input, .white-popup-block textarea {
    padding: 0.7em 1.5em;
    border: 2px solid #fd7760;
    margin-bottom: .6em;
    font-size: 1em;
    width: 100%;
    outline: none;
    box-sizing: border-box; }
  .white-popup-block textarea {
    min-height: 150px;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  .white-popup-block [type="submit"] {
    border: 2px solid #fd7760;
    color: white;
    background-color: #fd7760; }
    .white-popup-block [type="submit"]:hover {
      background-color: white;
      color: #fd7760; }

.head_block {
  min-height: 100vh;
  background-image: url(../images/juice.png), url(../images/background-header.png);
  background-repeat: no-repeat;
  background-position: 95%, 0 -200px;
  background-size: 1000px, 100%; }
  @media (max-width: 1300px) {
    .head_block {
      background-size: 800px, 100%;
      background-position: 90%, 0 -100px; } }
  @media (max-width: 1040px) {
    .head_block {
      background-size: 700px, 100%;
      background-position: 400px, 0 -100px; } }
  @media (max-width: 750px) {
    .head_block {
      background-size: 600px, 100%;
      background-position: 300px, 0 0px; } }
  @media (max-width: 700px) {
    .head_block {
      background-size: 600px, 100%;
      background-position: 250px, 0 0px; } }
  @media (max-width: 600px) {
    .head_block {
      background-size: 600px, 800px;
      background-position: 150px, 0 0px; } }
  .head_block .header_content {
    max-width: 50%; }
    @media (max-width: 900px) {
      .head_block .header_content {
        max-width: 70%; } }
    @media (max-width: 600px) {
      .head_block .header_content {
        max-width: 100%; } }

#services .services_nav {
  text-align: center; }
  #services .services_nav__link {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    margin: 0.2em 0.6em;
    display: inline-block;
    border-bottom: none;
    color: black;
    border-bottom: 2px dotted transparent; }
    #services .services_nav__link.active, #services .services_nav__link:hover {
      color: #fd7760;
      border-bottom: 2px dotted #fd7760; }
    #services .services_nav__link.active {
      position: relative; }
      #services .services_nav__link.active:after {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #e8e8e8;
        content: '';
        z-index: -1;
        transform: rotate(45deg) translateX(-50%);
        bottom: -103px;
        left: 50%; }
        @media (max-width: 640px) {
          #services .services_nav__link.active:after {
            content: none; } }
    @media (max-width: 1280px) {
      #services .services_nav__link {
        font-size: 1.45em; } }
    @media (max-width: 930px) {
      #services .services_nav__link {
        font-size: 1.2em; } }
    @media (max-width: 780px) {
      #services .services_nav__link {
        font-size: 1em; } }

#services .services_blocks {
  margin: 50px auto 0; }
  #services .services_blocks .services_block {
    -ms-flex-align: start;
        align-items: flex-start;
    display: none;
    background-color: #e8e8e8;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 2px solid #e8e8e8; }
    #services .services_blocks .services_block__item_image {
      overflow: hidden; }
      #services .services_blocks .services_block__item_image img {
        height: 425px; }
        @media (max-width: 700px) {
          #services .services_blocks .services_block__item_image img {
            height: 250px; } }
    #services .services_blocks .services_block__item_about, #services .services_blocks .services_block__item_services {
      padding: 30px; }
    @media (max-width: 700px) {
      #services .services_blocks .services_block__item_services {
        margin-top: -30px; } }
    #services .services_blocks .services_block.active {
      display: -ms-flexbox;
      display: flex; }
    @media (max-width: 1040px) and (min-width: 700px) {
      #services .services_blocks .services_block__hidden {
        display: none; } }

#portfolio .portfolio_blocks {
  background-color: #fea292; }
  @media (max-width: 1600px) {
    #portfolio .portfolio_blocks {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  #portfolio .portfolio_blocks a.portfolio_block {
    border: 5px solid #fea292;
    height: 450px;
    overflow-y: hidden;
    box-sizing: border-box;
    position: relative; }
    @media (max-width: 1600px) {
      #portfolio .portfolio_blocks a.portfolio_block {
        height: initial;
        max-height: 400px; }
        #portfolio .portfolio_blocks a.portfolio_block:nth-child(2n-1) {
          width: 22%; }
        #portfolio .portfolio_blocks a.portfolio_block:nth-child(2n) {
          width: 28%; }
        #portfolio .portfolio_blocks a.portfolio_block:nth-child(6) {
          width: 56%; } }
    @media (max-width: 900px) {
      #portfolio .portfolio_blocks a.portfolio_block {
        height: initial;
        max-height: 400px; }
        #portfolio .portfolio_blocks a.portfolio_block:nth-child(2n-1) {
          width: 50%; }
        #portfolio .portfolio_blocks a.portfolio_block:nth-child(2n) {
          width: 50%; }
        #portfolio .portfolio_blocks a.portfolio_block:nth-child(6) {
          width: 50%; }
        #portfolio .portfolio_blocks a.portfolio_block:last-child {
          display: none; } }
    @media (max-width: 500px) {
      #portfolio .portfolio_blocks a.portfolio_block {
        max-height: 300px; } }
    #portfolio .portfolio_blocks a.portfolio_block img {
      width: 100%; }
  #portfolio .portfolio_blocks .over_block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(244, 67, 54, 0.8);
    background-image: url(../images/magnifying-glass.png);
    background-position: center;
    background-repeat: no-repeat; }

.mfp-counter {
  display: none; }

#command .command_slider__wrapper {
  position: relative; }
  #command .command_slider__wrapper .command_slider {
    position: relative; }
    #command .command_slider__wrapper .command_slider:after {
      width: 100%;
      height: 2px;
      content: '';
      background-color: #fd7760;
      position: absolute;
      top: 180px;
      z-index: -1;
      left: 0; }
      @media (max-width: 1700px) and (min-width: 1450px) {
        #command .command_slider__wrapper .command_slider:after {
          top: 130px; } }
      @media (max-width: 1450px) and (min-width: 1200px) {
        #command .command_slider__wrapper .command_slider:after {
          top: 110px; } }
      @media (max-width: 1200px) and (min-width: 990px) {
        #command .command_slider__wrapper .command_slider:after {
          top: 140px; } }
      @media (max-width: 990px) {
        #command .command_slider__wrapper .command_slider:after {
          top: 110px; } }
    @media (max-width: 1700px) and (min-width: 700px) {
      #command .command_slider__wrapper .command_slider h4 {
        position: relative;
        margin-left: -50%;
        margin-right: -50%; } }
    #command .command_slider__wrapper .command_slider .human {
      text-align: center;
      padding-bottom: 20px;
      outline: none;
      cursor: move; }
      #command .command_slider__wrapper .command_slider .human .command_wrap__img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 3px solid #fd7760;
        display: initial; }
        @media (max-width: 1700px) and (min-width: 1450px) {
          #command .command_slider__wrapper .command_slider .human .command_wrap__img {
            width: 250px;
            height: 250px; } }
        @media (max-width: 1450px) and (min-width: 1200px) {
          #command .command_slider__wrapper .command_slider .human .command_wrap__img {
            width: 200px;
            height: 200px; } }
        @media (max-width: 1200px) and (min-width: 990px) {
          #command .command_slider__wrapper .command_slider .human .command_wrap__img {
            width: 250px;
            height: 250px; } }
        @media (max-width: 990px) {
          #command .command_slider__wrapper .command_slider .human .command_wrap__img {
            width: 200px;
            height: 200px; } }
      #command .command_slider__wrapper .command_slider .human .profession {
        background-color: #fd7760;
        padding: 5px 15px;
        border-radius: 25px;
        font-weight: 600;
        color: white; }
      @media (min-width: 700px) {
        #command .command_slider__wrapper .command_slider .human .hidden-info {
          display: none; } }
    @media (min-width: 1200px) {
      #command .command_slider__wrapper .command_slider .slick-active.slick-current {
        transform: scale(0.6) translateX(80px); }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active {
          transform: scale(0.8); }
          #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active + .slick-active .hidden-info {
            display: block; }
          #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active + .slick-active + .slick-active {
            transform: scale(0.8); }
            #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active + .slick-active + .slick-active + .slick-active {
              transform: scale(0.6) translateX(-80px); } }
    @media (max-width: 1200px) and (min-width: 900px) {
      #command .command_slider__wrapper .command_slider .slick-active.slick-current {
        transform: scale(0.75) translateX(80px); }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active .hidden-info {
          display: block; }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active + .slick-active {
          transform: scale(0.75) translateX(-80px); } }
    @media (max-width: 1200px) and (min-width: 700px) {
      #command .command_slider__wrapper .command_slider .slick-active.slick-current {
        transform: scale(0.75) translateX(30px); }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active .hidden-info {
          display: block; }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active + .slick-active {
          transform: scale(0.75) translateX(-30px); } }
    @media (max-width: 700px) and (min-width: 600px) {
      #command .command_slider__wrapper .command_slider .slick-active.slick-current {
        transform: translateX(20px); }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active {
          transform: translateX(-20px); } }
    @media (max-width: 600px) and (min-width: 532px) {
      #command .command_slider__wrapper .command_slider .slick-active.slick-current {
        transform: translateX(10px); }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current .command_wrap__img {
          transform: scale(0.8); }
        #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active {
          transform: translateX(-10px); }
          #command .command_slider__wrapper .command_slider .slick-active.slick-current + .slick-active .command_wrap__img {
            transform: scale(0.8); } }

.button_after__prew, .button_slider.button_prew:before, .button_slider.button_prew:after, .button_slider.button_next:before, .button_slider.button_next:after {
  background-color: #fd7760;
  content: '';
  display: block;
  width: 40px;
  height: 2px; }

.button_slider {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 155px;
  z-index: 1; }
  @media (max-width: 1700px) and (min-width: 1450px) {
    .button_slider {
      top: 105px; } }
  @media (max-width: 1450px) and (min-width: 1200px) {
    .button_slider {
      top: 85px; } }
  @media (max-width: 1200px) and (min-width: 990px) {
    .button_slider {
      top: 115px; } }
  @media (max-width: 990px) {
    .button_slider {
      top: 85px; } }
  .button_slider.slick-disabled {
    display: none !important; }
  .button_slider.button_prew {
    left: 0; }
    .button_slider.button_prew:before {
      transform: rotate(-45deg) translateY(2px) translateX(-12px); }
    .button_slider.button_prew:after {
      transform: rotate(45deg) translateY(30px) translateX(20px); }
    .button_slider.button_prew:hover {
      transform: scale(1.3) translateX(5px); }
  .button_slider.button_next {
    right: 0;
    transform: rotate(180deg); }
    .button_slider.button_next:before {
      transform: rotate(-45deg) translateY(2px) translateX(-12px); }
    .button_slider.button_next:after {
      transform: rotate(45deg) translateY(30px) translateX(20px); }
    .button_slider.button_next:hover {
      transform: scale(1.3) translateX(-5px) rotate(180deg); }

.ico_align {
  height: 100px;
  margin-bottom: 1em; }

#advantages {
  background-color: #f8f8f8;
  border: 5px dotted #e3e0e0;
  text-align: center;
  margin: 0 -5px; }
  #advantages h5 {
    line-height: 1.4em; }

#how_we_are_working {
  text-align: center; }
  #how_we_are_working h5 {
    line-height: 1.4em; }

.mfp-img {
  cursor: url(../images/cursor.png) 0 0, auto; }

.crm-webform-header {
  font-family: 'Istok Web', 'Helvetica', sans-serif; }

.head_block.adaptive_head_block {
  background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/comunica.jpg);
  background-size: cover;
  color: white;
  background-position: center;
  position: relative;
  background-color: #18214c; }
  @media (max-width: 1541px) and (min-width: 700px) {
    .head_block.adaptive_head_block:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to right, #101332 46%, rgba(16, 19, 50, 0) 100%);
      z-index: 0; } }
  @media (max-width: 1500px) {
    .head_block.adaptive_head_block {
      background-size: 100%;
      background-position: right bottom; } }
  @media (max-width: 700px) {
    .head_block.adaptive_head_block {
      background-size: 170%;
      background-position: right bottom;
      padding-bottom: 15rem; } }
  @media (max-width: 500px) {
    .head_block.adaptive_head_block {
      padding-bottom: 12rem; } }
  .head_block.adaptive_head_block .wrapper {
    position: relative; }
  @media (min-width: 990px) {
    .head_block.adaptive_head_block .header_content {
      max-width: 600px; } }
  .head_block.adaptive_head_block .header_nav__link {
    color: white; }
    .head_block.adaptive_head_block .header_nav__link:hover {
      color: #fd7760; }
  .head_block.adaptive_head_block .lang_wrapper a.active {
    color: white; }
  .head_block.adaptive_head_block h1 {
    font-size: 3.3em;
    text-transform: initial;
    line-height: 1.2em;
    margin: 0 0 0.4em -0.1em; }
    @media (max-width: 1600px) {
      .head_block.adaptive_head_block h1 {
        font-size: 3em; } }
    @media (max-width: 1300px) {
      .head_block.adaptive_head_block h1 {
        font-size: 3em; } }
    @media (max-width: 1030px) {
      .head_block.adaptive_head_block h1 {
        font-size: 2.5em; } }
    @media (max-width: 700px) {
      .head_block.adaptive_head_block h1 {
        font-size: 2.2em;
        line-height: 1.3em;
        font-weight: 900; } }
  .head_block.adaptive_head_block h5 {
    line-height: 1.3; }
    .head_block.adaptive_head_block h5.akcent {
      margin: 0 0 1em; }
  .head_block.adaptive_head_block .adaptive_page__form input {
    color: white; }

.adaptive_page__form {
  margin-bottom: 1em; }
  .adaptive_page__form input:not([type='submit']),
  .adaptive_page__form textarea:not([type='submit']) {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    outline: none;
    min-width: 70%;
    font-size: 1rem;
    font-weight: 400;
    resize: none; }
    @media (max-width: 700px) {
      .adaptive_page__form input:not([type='submit']),
      .adaptive_page__form textarea:not([type='submit']) {
        min-width: 350px; } }
    @media (max-width: 470px) {
      .adaptive_page__form input:not([type='submit']),
      .adaptive_page__form textarea:not([type='submit']) {
        min-width: 260px; } }
  .adaptive_page__form [type='submit'].submit {
    min-width: 20px;
    border-bottom: none;
    font-size: 0;
    height: 18px;
    outline: none;
    background-color: transparent;
    border: none;
    background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/fast-forward.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: -25px;
    cursor: pointer;
    padding: 25px 10px 10px;
    background-position: center; }
  .adaptive_page__form ::-webkit-input-placeholder {
    font-size: 17px;
    color: #484848;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  .adaptive_page__form :-ms-input-placeholder {
    font-size: 17px;
    color: #484848;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  .adaptive_page__form ::placeholder {
    font-size: 17px;
    color: #484848;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  .adaptive_page__form.big__form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem 4rem;
    border: 2px solid #f1f1f1;
    border-radius: 5px; }
    @media (max-width: 700px) {
      .adaptive_page__form.big__form {
        padding: 1rem 2rem; } }
    .adaptive_page__form.big__form h3 {
      margin-bottom: 0; }
    .adaptive_page__form.big__form .small {
      line-height: 1rem;
      font-size: 0.8rem; }
    .adaptive_page__form.big__form .inp_wrap {
      margin-bottom: 0.5rem; }
      .adaptive_page__form.big__form .inp_wrap input:not([type='submit']),
      .adaptive_page__form.big__form .inp_wrap textarea:not([type='submit']) {
        border: 2px solid #fd7760;
        padding: 0.7rem 1rem;
        min-width: 100%;
        box-sizing: border-box; }
    .adaptive_page__form.big__form [type='submit'] {
      width: 100%;
      font-size: 1rem;
      outline: none; }
  .adaptive_page__form.dark input,
  .adaptive_page__form.dark textarea {
    border-bottom: 2px solid white; }
  .adaptive_page__form.dark input:not([type='submit']) {
    padding-right: 30px;
    box-sizing: border-box; }
  .adaptive_page__form.dark ::-webkit-input-placeholder {
    color: #f7f7f7; }
  .adaptive_page__form.dark :-ms-input-placeholder {
    color: #f7f7f7; }
  .adaptive_page__form.dark ::placeholder {
    color: #f7f7f7; }

p.afterPAgespeed {
  color: grey; }

h5.afterPAgespeed {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  width: 120%; }
  @media (max-width: 640px) {
    h5.afterPAgespeed {
      width: 100%;
      font-size: 1.5rem; } }

.akcent {
  color: #fd7760;
  font-weight: 600; }

.grey_block {
  background-color: #f8f8f8; }

.adaptive_block .wrapper {
  padding: 50px 0; }

.adaptive_block h2 {
  text-align: left;
  color: black;
  text-transform: initial;
  margin-bottom: 3em;
  font-size: 2.5em; }
  .adaptive_block h2 span {
    border: none; }
  @media (max-width: 1030px) {
    .adaptive_block h2 {
      font-size: 1.8em; } }
  @media (max-width: 700px) {
    .adaptive_block h2 {
      font-size: 1.6em; } }

.adaptive_block .flex_2_columns > div {
  -ms-flex-preferred-size: 1000px;
      flex-basis: 1000px; }
  .adaptive_block .flex_2_columns > div.has_image {
    text-align: center; }

@media (max-width: 790px) {
  .adaptive_block .flex_2_columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.adaptive_block.graph__block {
  background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/graph.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 45%; }
  @media (max-width: 1030px) {
    .adaptive_block.graph__block {
      background-position: left 32%;
      background-size: 200%; } }
  @media (max-width: 790px) {
    .adaptive_block.graph__block {
      background-position: left 15%;
      background-size: 150%; }
      .adaptive_block.graph__block .has_button {
        text-align: center;
        margin-bottom: 2rem; } }

.profit__block h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5em; }
  .profit__block h2 .small {
    display: block;
    font-size: 0.5em;
    text-transform: initial; }

.profit__block .wrapper__block {
  padding: 25px 0; }

.profit__block .wrapper:first-child {
  margin-bottom: -50px; }

.profit__block .has_img {
  text-align: right; }
  .profit__block .has_img img {
    width: 700px; }
    @media (max-width: 790px) {
      .profit__block .has_img img {
        width: 100%;
        border-top: 5px solid #fd7760; } }

.profit__block .profit__block_item {
  background-color: white;
  border-left: 5px solid #fd7760;
  padding: 2rem; }
  @media (max-width: 790px) {
    .profit__block .profit__block_item {
      padding: 1rem;
      border: none; } }
  @media (min-width: 790px) {
    .profit__block .profit__block_item {
      margin-left: -25rem; } }
  @media (min-width: 1000px) {
    .profit__block .profit__block_item {
      margin-left: -15rem; } }
  @media (min-width: 1300px) {
    .profit__block .profit__block_item {
      margin-left: -5rem;
      padding: 2rem 2rem; } }
  .profit__block .profit__block_item .flex-container {
    -ms-flex-align: start;
        align-items: flex-start; }
  @media (max-width: 1200px) {
    .profit__block .profit__block_item .__ico {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .profit__block .profit__block_item .ico {
    min-width: 95px;
    height: 78px;
    display: block;
    background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/it1.png");
    background-repeat: no-repeat;
    background-position: center; }
    .profit__block .profit__block_item .ico.ico-2 {
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/it2.png"); }
    .profit__block .profit__block_item .ico.ico-3 {
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/it3.png"); }
  .profit__block .profit__block_item h3 {
    text-transform: initial;
    color: black;
    text-align: left;
    font-size: 1.5rem; }
    @media (max-width: 1030px) {
      .profit__block .profit__block_item h3 {
        font-size: 1.2rem; } }

.image__back {
  background-color: #e9eef1;
  background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/back_adaptive.jpg);
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }
  @media (max-width: 1428px) {
    .image__back {
      background-position: 120% center; } }
  @media (max-width: 1328px) {
    .image__back {
      background-position: 140% center; } }
  @media (max-width: 1264px) {
    .image__back {
      background-position: 160% center; } }
  @media (max-width: 1216px) {
    .image__back:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to right, rgba(233, 238, 241, 0.9) 71%, rgba(16, 19, 50, 0) 100%);
      z-index: 0; } }
  @media (max-width: 704px) {
    .image__back {
      background-size: cover;
      background-position: right center; } }
  .image__back .flex_2_columns {
    position: relative; }
    .image__back .flex_2_columns > div {
      max-width: 700px; }
  .image__back h2 {
    margin-bottom: 1em; }
  .image__back h5 {
    line-height: 1.5; }

.adaptive__items_block {
  text-align: center; }
  .adaptive__items_block h2 {
    text-align: center;
    margin-bottom: 1em; }
  .adaptive__items_block .ico {
    min-width: 150px;
    height: 100px;
    display: block;
    background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    @media (max-width: 600px) {
      .adaptive__items_block .ico {
        min-width: 150px;
        height: 70px; } }
    .adaptive__items_block .ico.ico-2 {
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic2.png"); }
    .adaptive__items_block .ico.ico-3 {
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic3.png"); }
    .adaptive__items_block .ico.ico-4 {
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic4.png"); }
    .adaptive__items_block .ico.ico-5 {
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic5.png"); }
    .adaptive__items_block .ico.ico-6 {
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/ic6.png"); }

.adaptive_block.sale {
  text-align: center;
  background-image: url(https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/graph-2.png);
  background-position: left 8%; }
  @media (max-width: 1035px) {
    .adaptive_block.sale {
      background-size: 100%; } }
  @media (max-width: 700px) {
    .adaptive_block.sale {
      background-size: 150%;
      background-position: left 5%; } }
  @media (max-width: 609px) {
    .adaptive_block.sale {
      background-size: 180%;
      background-position: left 5%; } }
  @media (max-width: 562px) {
    .adaptive_block.sale {
      background-size: 180%;
      background-position: left 8%; } }
  .adaptive_block.sale h2 {
    text-align: center; }
  .adaptive_block.sale h4 {
    text-transform: initial;
    font-weight: 600;
    font-size: 1.5rem; }
    .adaptive_block.sale h4 a.big {
      font-size: 3rem;
      border: none;
      cursor: pointer;
      font-weight: 400;
      background-image: url("https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/ico/smart.png");
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 3.5rem; }
      @media (max-width: 600px) {
        .adaptive_block.sale h4 a.big {
          font-size: 1.8rem;
          background-size: contain;
          padding-left: 2.5rem; } }
