extend includes/base

block title
	| Fresh Generation Marketing Service
block content 
	.head_block.flex-container.flex-columns.adaptive_head_block
		.wrapper.head_wrapper
			
			include includes/header

		.wrapper
			.header_content
				h1 Адаптация сайта под мобильные устройства
				h5 Проверьте прямо сейчас свой сайт на скорость загрузки от PageSpeed Insights
				form#pagespeed.adaptive_page__form.dark
					input(type='text' name='site' placeholder='Введите адрес вашего сайта')
					input(type='submit' class='submit')
				h5.akcent Получить предложение по оптимизации мобильной версии сайта прямо сейчас

				a.button.inner( ).popup-with-form-adaptive Получить предложение

	
	.adaptive_block.graph__block
		.wrapper
			.flex-container.flex_2_columns
				div
					h2 Адаптация сайта под мобильные устройства: 
						span.akcent трата денег или необходимость?
					p Телефон сегодня и телефон 5 лет назад — разные вещи. Все больше пользователей применяет мобильные устройства для серфинга по сети. 
					p Согласно статистическим данным 83% владельцев смартфонов заказывают товары и услуги через планшет или телефон, не прибегая к эксплуатации ноутбуков.
					p Оптимизация сайта под мобильные устройства позволит вам вывести бизнес на новый уровень и даст целый ряд преимуществ перед конкурентами.
					.has_button
						a.button.inner(href="#services") Получить предложение
				div.has_image
					img(src='https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/tel.png')


	.adaptive_block.grey_block.profit__block
		.wrapper
			h2
				span.small Адаптивность сайта: 
				| ваши выгоды
		.wrapper.wrapper__block
			.flex-container.flex_2_columns
				div.has_img
					img(src='https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/mobile.jpg')
				div.profit__block_item
					.flex-container.__ico
						i.ico.ico-1
						div
							h3 Интерфейс
							p Порталы, не прошедшие оптимизацию под цифровые технологии, плохо отображаются на мобильных дисплеях: исчезают кнопки заказа, пропадает большая часть визуального оформления. Клиент уходит со страницы, не успев узнать продукт до конца. Мобильная версия сайта автоматически подстраивается под размер экрана пользователя.
		.wrapper.wrapper__block
			.flex-container.flex_2_columns
				div.has_img
					img(src='https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/google.jpg')
				div.profit__block_item
					.flex-container.__ico
						i.ico.ico-2
						div
							h3 Посещаемость
							p Поисковые алгоритмы Google и Yandex сразу отсеивают порталы без портативной версии и перемещают их на 3-4 страницы поиска по ключевым словам. После заказа услуги значительно улучшатся ранжирование и конверсия. Ваш сайт будет находиться на первой странице поисковика, а количество посетителей станет на 40-50% больше.
		.wrapper.wrapper__block
			.flex-container.flex_2_columns
				div.has_img
					img(src='https://fgmarketing.agency/wp-content/themes/fgmarketing.agency/images/franchise.jpg')
				div.profit__block_item
					.flex-container.__ico
						i.ico.ico-3
						div
							h3 Прибыль
							p Клиенты всегда ценят заботу о себе – если сервис будет работать без перебоев, правильно отображаться на всех гаджетах, велика вероятность, что посетители не будут искать другие варианты и покупку сделают именно на вашем сайте.
	.adaptive_block.image__back
		.wrapper
			.flex-container.flex_2_columns
				div
					h2 Как проверить сайт на адаптивность?
					p Вы можете сделать это самостоятельно: воспользуйтесь нашим сервисом или любым из онлайн ресурсов. 
					form#mobileFliendly.adaptive_page__form
						input(type='text' name='site' placeholder='Проверить сайт на адаптивность прямо сейчас')
						input(type='submit' class='submit')
					.remuve
						p Чтобы протестировать портал на качество отображения достаточно зайти на него с нескольких версий устройств: iOS, Android, Windows. 
						h5.akcent При проверке мобильной версии сайта наши специалисты используют цифровые технологии разных поколений с разными форматами экранов.
					a.button.inner(href="#services") Получить предложение
	.adaptive_block.grey_block.graph__block.sale
		.wrapper
			h2 Как заказать мобильную версию сайта?
			h4   Свяжитесь с нашими специалистами по телефону
				br
				a.big(href='tel:+380632206314') +38 (063) 220-63-14
		
			p Конечная стоимость услуги зависит от ваших требований и масштабности сайта.
			h5.akcent Задайте вопросы о цене и особенностях адаптации сайта при личной беседе с программистами!
			form.adaptive_page__form.big__form
				h3 Оставьте свои контакты
				p И мы свяжемся с вами в ближайшее время
				.inp_wrap
					input(type='text' placeholder='Ваше имя*')
				.inp_wrap
					input(type='text' placeholder='Ваше телефон*')
				.inp_wrap
					input(type='text' placeholder='Ваше email*')
				
				.inp_wrap
					input(type='text' placeholder='Адрес вашего сайта http://site.com/')
				//- .inp_wrap
				//- 	input(type='text' placeholder='Ваше имя')
				.inp_wrap
					textarea(placeholder='Вопрос, пожелания' rows="7")
				input(type='submit').button.inner




	.adaptive_block.adaptive__items_block
		.wrapper
			h2 Что вы получите за свои деньги:
			.flex-container.flex_6_columns
				div
					.ico.ico-1
					p Полный анализ имеющейся структуры ресурса и его верстки.
				div
					.ico.ico-2
					p Подробный план адаптации под устройства с разным разрешением экранов
				div
					.ico.ico-3
					p Переработку верстки портала, подгонку под мобильные гаджеты
				div
					.ico.ico-4
					p Переработку программного кода для корректного отображения сайта
				div
					.ico.ico-5
					p Тестирование результата на 5 видах цифровых устройств
				div
					.ico.ico-6
					p Внесение дополнительных корректировок при необходимости

	
	
	-
		var 
			form = {
				action: 'https://docs.google.com/forms/d/e/1FAIpQLSc99Mj2zqlAMHEpiT_2l6Adzik8hj04TC3B7eK4NIrFor-_7Q/formResponse',
				name: 'entry.1584016940',
				email: 'entry.1969032943',
				tel: 'entry.1391229494',
				messenger: 'entry.863417891',
				site: 'entry.1053102140',
				comment: 'entry.1981649400',
				type_of_form: 'entry.1954888542',
				price_type: 'entry.1784265609'
			}


	include includes/footer
	<script src="https://apis.google.com/js/api.js"></script>
	script(src='js/script.js?ver=0.002')