extend includes/base

block title

block content 
	.head_block.flex-container.flex-columns
		.wrapper
			
			include includes/header
		.wrapper
			.header_content
				h1 Освежающие решения для вашего бизнеса
				h5 
					| Мы - молодая креативная команда. 
					br
					| Следим за трендами и новинками.
					br
					| А главное, мы заставим Ваш сайт работать!
				a.button Ознакомиться с прайсом


	include includes/footer
		
